.article-main {
    height:85vh;
    display:grid;
    grid-template-rows: 10% 90%;
    grid-template-areas:
    'head'
    'articles'

}

h1 {
    grid-area: head;
}

.link-wrapper {
    display:grid;
    height: 70px;
    grid-template-columns: 80% 20%;
    grid-template-areas:
    'articleinfo articlelink'
}

.article-list {
  
    background-color: rgba(197, 196, 196, 0.705);
    border-radius:10px;
    box-shadow:20px 20px 50px 15px grey;  
    font-size: 20px;
    max-height:100%;
    margin:20px;
    grid-area: articles;
    overflow: scroll;

}

.articleinfo {
    grid-area: articleinfo;
    display:flex;
    flex-direction: column;
    align-items: center;
     
}
.articleinfo p {
    font-family: cursive;
}



.articlelink {
    grid-area: articlelink;
}


.article-comments {
    height:85vh;
    display:grid;
    grid-template-rows: 60% 30% 10%;
    grid-template-areas:
    'article-wrapper'
    'comments'
    'articlebutton'

}
.article-wrapper {
    grid-area: article-wrapper;
    max-height:100%;
    margin:20px;
}

.article {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(231, 231, 231, 0.705);
    border-radius:10px;
    box-shadow:20px 20px 50px 15px grey;  
    font-size: 20px;
    height:90%;
    margin:20px;
    padding:0;
    grid-area: articles;

}

.article header {
    font-size: 40px;
}

.comments {
    max-height: 80%;
    grid-area: comments;
    padding: 10px;
    overflow: scroll;
    background-color: rgba(245, 245, 245, 0.705);
    border-radius:10px;
    box-shadow:20px 20px 50px 15px grey;  
    font-size: 20px;
    max-height:100%;
    margin: 20px;
    grid-area: articles;
    overflow: scroll;

}

.articlebody {
width:80%;
height:100%;
overflow: scroll;
margin:0px;
}
.articlebutton {
    grid: articlebutton;
    max-height: 100%;
}

.articleDetails {
    font-size: 15px;
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;  
    height: 100%;
    margin:0;
    padding:0;
}

.articleDetails p{
    text-align: left;
    height:50%;
    overflow: scroll;

}


.votes-comments {
    width: 100%;
    display:flex;
    flex-direction: row;
}
.comment-text {
    grid-area:comment-text;
  }
  
  
.comment-wrapper {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'comment-text votes';
  
  }
  .vote-wrapper {
    grid-area: votes;
  }
