.comment-wrapper {
font-family: 'Times New Roman', Times, serif;
display:grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  'comment-text login votes'

}
.comment-text {
grid-area: comment-text;
}

.vote-wrapper {
    grid-area: votes
}